@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2")
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.button {
  background: #756157;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  margin: 0 auto;
}

.navigation-list {
  width: 340px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
}

.navigation-link {
  line-height: 24px;
  color: inherit;
  background-color: inherit;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

.background-sedona-rock {
  background-image: url("../images/background-main.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
  background-position: absolute;
}

/* Intro */
.index-intro {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.index-intro h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.index-intro p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* List */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  width: 400px;
}

.advantages-item-wide {
  width: 100%;
  display: flex;
}

.advantages-item-wide-text {
  width: 400px;
}

.advantages-item-wide-image {
  width: 800px;
}

/* Title blue */
.advantages-title_blue {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Item blue */
.advantages-description_blue {
  color: #ffffff;
}
/* Title */
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

/* Item */
.advantages-description {
  color: #333333;
}

.footer-media {
  width: 145px;
  margin-left: 70px;
  margin-right: 250px;
}

.page-footer-phone {
  width: 335px;
  margin-right: 235px;
}

.page-footer-logo {
  margin-left: auto;
  max-width: 115px;
}

.index-blocks {
  text-align: center;
}

.interest {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.distribution {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.sign-up p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: ceter;
  color: #ffffff;
}

.page-footer {
  display: flex;
}

.page-footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.page-footer-logo {
  text-align: right;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
